header{
    position: relative;
    width:100%;
    /* height: 174px; */
    top:0;
    z-index:11;
}

/*Logo*/
img.logo {
    width: 100%;
    border-radius: 68px;
}

/*Menu*/
.custom-btn:hover{
    letter-spacing:3px;
    transition:0.8 ease;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 2px #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover {
    color: #e91e63;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e91e63;
}

.dropdown-menu {
    padding: 0px;
}
span.navbar-toggler-icon {
    background-image: url(https://i.ibb.co/1v9M0dZ/menu.png) !important;
    width: 25px;
    height: 25px;
    cursor:pointer;
}
button.navbar-toggler:focus {
    outline: none;
}

a.dropdown-item {
    padding: 10px;
    background: #515156;
    color: #fff;
}

img.d-block.w-100.anh-header {
    width: 100%;
    height: 937px;
}

.menu-logo {
    height: 150px;
    opacity: 10.9;
    background-color: #00000087;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.menu-logo.active {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
    box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
}

.menu-logo.active img.logo {
    width: 80%;
    border: 1px solid black;
}

.menu-logo.active a.dropbtn {
    color: black;
}

div#collapsibleNavbar {
    margin-right: 6%;
}

a.navbar-brand.logo {
    margin-left: 5%;
    width: 7%;
}

a#navbardrop.muc-menu {
    color: #ffffff;
    filter: brightness(1.8);
}

.dropdown-menu.show {
    border: 0px;
}

a#navbardrop {
    font-size: 18px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 197px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 110%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

a.dropbtn {
    color: white;
    font-size: 20px;
}

a.dropbtn:hover {
    color: white;
}

/*Search*/
.search-dich-vu {
    position: absolute;
    top: 33%;
    left: 16%;
    background-color: #0000004d;
    width: 69%;
}

a#nav-home-tab {
    color: white;
}

a#nav-home-tab.active {
    color: black;
}

a#nav-profile-tab {
    color: white;
}

a#nav-profile-tab.active {
    color: black;
}

.ngoi-nha>.mt-40>.row {
    margin-top: 2.3%;
}

.row.search-1 {
    z-index: 2;
}

.thanh-search {
    width: 168%;
}

button.btn.btn-primary.nut-search {
    margin-left: 64%;
    width: 40%;
    background-color: #000064;
    border-color: #000064;
}

select.form-control {
    width: 111%;
}

.search-dich-vu>.tab-content>.tab-pane>.row {
    margin-top: 2%;
    width: 101%;
}
/*Slide show*/
img.d-block.w-100.anh-header {
    height: 721px;
}

/*Muc dich*/
.gioi-thieu-trang-web {
    width: 88%;
    text-align: center;
    margin-top: 3%;
    margin-left: 6%;
}

.tieu-de-khau-hieu h3 {
    font-family: roboto;
    color: #000064;
    font-weight: 600;
}

.tieu-de-khau-hieu span {
    /* color: #000027; */
}

.col.muc-tieu-nho i {
    width: 26%;
    height: 100;
    height: 55px;
}

.col.muc-tieu-nho svg {
    width: 23%;
    height: 116px;
    color: #1e65b0;
    filter: brightness(50%);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.col.muc-tieu-nho h6 {
    margin-top: 6%;
    color: #000b43;
}

.col.muc-tieu-nho svg:hover {
    filter: brightness(1);
    width: 30%;
}

.tim-hieu-them button {
    margin-top: 2%;
    font-weight: 700;
    font-family: inherit;
    font-size: 20px;
    background-color: #000064;
}

.tieu-de-khau-hieu svg {
    display: block;
    margin-left: 48%;
    margin-bottom: 1%;
}

svg.svg-inline--fa.fa-file-chart-line.fa-w-12.fa-7x {
    width: 19%;
}

svg.svg-inline--fa.fa-file-chart-line.fa-w-12.fa-7x:hover {
    width: 23%;
}

/*Ngoi nha*/
.box8 .icon,.box8 .title{
    margin:0;
    position:absolute
}

.box8{
    box-shadow:0 0 3px rgba(0,0,0,.3);
    position:relative
}
.box8 img{
    width:100%;
    height: 250px;
}
.box8 .box-content{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    opacity:0;
    position:absolute;
    top:0;left:0;
    transform:perspective(400px) rotateX(-90deg);
    transform-origin:center top 0;
    transition:all .5s ease 0s
}

.box8:hover .box-content{
    opacity:1;
    transform:perspective(400px) rotateX(0)
}
.box8 .title{
    padding:5px 7px;
    font-weight:600;
    bottom: 20px;
    left: 16px;
    transition:all .9s ease 0s;
}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{
}
.box8:hover .title{
    bottom: -40px;
}
.box8 .icon{
    list-style:none;
    padding:0;
    top: 10%;
    left:0;
    right:0;
}

.box8 .icon li a{
    width:40px;
    height:40px;
    border-radius:50%;
}
.box9 .icon,.box9 .title{
    width:100%;
    font-size:22px
}
.box8 .icon li .box8-1:hover{
    color: #0079fc;
}

span.dieu-chinh-khoi-nho {
    margin-left: 0%;
    color: white;
}

span.dia-diem {
    bottom: 1;
}

li.day-len {
    margin-bottom: 7%;
}

a.box8-1:hover {
    color: aquamarine;
}

a.box8-1 {
    color: white;
}

.tieu-de h3 {
    font-family: roboto;
    color: #000064;
    font-weight: 600;
}

.tieu-de {text-align: center;}

.nha-dat-ban-noi-bat {
    margin-top: 3%;
    background-color: #959eff38;
    /* width: 100%; */
    padding-bottom: 2%;
    padding-top: 2%;
}

.tieu-de svg {
    display: block;
    margin-left: 45%;
    width: 10%;
    margin-bottom: 1%;
}

.ngoi-nha {
    width: 89%;
    margin-left: 5%;
}
svg.svg-inline--fa.fa-chart-area.fa-w-16.fa-2x {
    width: 6%;
    color: white;
}

svg.svg-inline--fa.fa-map-marker-alt.fa-w-12.fa-2x {
    width: 5%;
    color: white;
}

svg.svg-inline--fa.fa-usd-circle.fa-w-16.fa-2x {
    width: 6%;
    color: white;
}

ul.icon li:nth-child(2),ul.icon li:nth-child(3),ul.icon li:nth-child(4) {
    line-height: 3;
    margin-left: 6%;
}

/*Nha ban*/
.box13{position:relative;
    transition:all .2s ease-out 0s
    
}
.box13 .box-content,.box13:after{
    position:absolute;
    left:20px;right:20px
    
}
.box13:after{
    content:"";
    display:block;
    background:#463f9f;
    top:20px;
    bottom:20px;
    opacity:0;
    transform:rotate3d(-1,1,0,100deg);
    transition:all .4s ease-in-out 0s
    
}
.box13:hover:after{
    opacity:.9;
    transform:rotate3d(0,0,0,0deg)
    
}
.box13 img{
    width:100%;
    height:auto
    
}
.box13 .box-content{
    top:45%;
    opacity:0;
    z-index:1;
    -webkit-transform:translate(10%,-30%);
    transform:translate(10%,-30%);
    transition:all .2s ease-out 0s
    
}
.box13:hover .box-content{
    opacity:1;
    transform:translate(0,-50%);
    transition-delay:.2s
}
.box13 .title{
    display:block;
    font-size:22px;
    font-weight:700;
    color:#39b54a;
    margin:0 0 10px
    
}
.box13 .post{
    display:block;
    font-size:15px;
    color:#f7f7b9;
    margin-bottom:20px
    
}
.box13 .social{
    padding:0;
    margin:0;
    list-style:none
    
}
.box13 .social li{
    display:inline-block
    
}
.box13 .social li a{
    display:block;
    width:35px;
    height:35px;
    background:#f7f7b9;
    border-radius:50%;
    font-size:17px;
    color:#1b1462;
    line-height:35px;
    margin-right:5px;
    transition:all .4s ease-in-out 0s
    
}
.box14 .icon li,.box14 .post{
    display:inline-block
    
}
.box13 .social li a:hover{
    color:#f7f7b9;
    background:#39b54a
}

.xem-them-nha-ban-noi-bat {
    text-align: center;
    /* border: 1px solid; */
    width: 11%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: white;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.xem-them-nha-ban-noi-bat a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.xem-them-nha-ban-noi-bat a:hover {
    /* color: #04366d; */
    text-decoration: none;
}

.xem-them-nha-ban-noi-bat:hover {
    border-color: #003f84;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

/*Nha cho thue*/
.box4{position:relative}
.box4:before{width:0;height:200%;background:rgba(0,0,0,.5);position:absolute;top:0;left:-250px;bottom:0;transform:skewX(-36deg);transition:all .5s ease 0s}
.box4:hover:before{width:200%}
.box4 img{width: 100%;height: 250px;o;}
.box4 .box-content{width:100%;height:100%;padding-top:20%;position:absolute;top:0;left:0;transform:scale(0);transition:all .3s ease 0s}
.box4 .icon,.box5 .icon{list-style:none;padding:0}
.box4:hover .box-content{transform:scale(1);background-color: #212529a8;width: 92%;height: 215px;margin-top: 4%;margin-left: 4%;}
.box4 .title{font-size:22px;font-weight:700;color:#fff;margin:0 0 10px}
.box4 .post{display:block;font-size:15px;font-weight:600;color:#fff;margin-bottom:20px}
.box4 .icon{margin:0}
.box4 .icon li{display:inline-block}
.box4 .icon li a{display:block;width:35px;height:35px;line-height:35px;font-size:20px;background:#fff;color:#ee4266;margin-right:10px;transition:all .3s ease 0s}
.box5 .icon,.box5 .icon li{display:inline-block}
.box4-4 {
    /* margin-left: 7%; */
    padding-left: 6%;
    padding-right: 6%;
    line-height: 2;
    /* margin-top: -17%; */
}

a.box4-1:hover {
    color: #0062cc;
    text-decoration: none;
}

a.box4-1 {
    color: white;
    font-weight: 600;
}

span.box4-3 {
    color: white;
    margin-left: 1%;
}

.box4-4.box4-5 {
    line-height: 1.3;
    margin-top: -16%;
    margin-bottom: 4%;
}

.row.box4-6 {
    width: 91%;
    /* height: 149px; */
    margin-left: 4%;
    margin-bottom: 2%;
}

.col-md-4.col-sm-6.box4-1 {
    height: 250px;
}

.tieu-de-box4 svg {
    display: block;
    margin-left: 45%;
    width: 11%;
    margin-bottom: 1%;
}

.tieu-de-box4 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
}

.tieu-de-box4 h3 {
    font-family: roboto;
    color: #000064;
    font-weight: 600;
}

.nha-cho-thue-noi-bat {
    /* background-image: url(../Img/anh12.jpg); */
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #959eff38;
}

.xem-them-nha-thue-noi-bat {
    background-color: white;
}

/*Du an*/
.img-du-an img {
    width: 98%;
    height: 270px;
}

.du-an-noibat {
    width: 100%;
    text-align: center;
    margin-left: 0%;
    margin-top: 2%;
    /* background-image: url(../Img/anh12.jpg); */
}

.row.du-an-4 {
    margin-top: 2%;
    margin-left: 5%;
    width: 91%;
}

.du-an-1.col {
    line-height: 2;
    /* border: 1px solid; */
    margin-right: 1%;
    margin-left: 0%;
    position: relative;
}

.img-du-an {
    margin-left: -3%;
    margin-top: 3px;
}
.du-an-2 h3 {
    font-family: roboto;
    color: #000064;
    font-weight: 600;
    margin-right: 2%;
}

.tieu-de-du-an a {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    font-family: roboto;
}

.tieu-de-du-an {
    position: absolute;
    top: 85%;
    left: 40%;
    transform: translate(-116px, 0px);
    width: 77%;
    background-color: white;
}

.tieu-de-du-an a:hover {
    color: #060068;
    text-decoration: none;
}
.bakground svg {
    margin-right: 2%;
    width: 8%;
    margin-bottom: 1%;
}

/*Tin tieu bieu*/
.tin-bai-viet img {
    width: 94%;
    height: 250px;
}

.tin-bai-viet {
    width: 21.9%;
    margin-left: 8.5%;
}

.carousel-item.tin-tieu-bieu1.active {
    display: flex;
}

a.carousel-control-prev {
    background-color: #00004f;
    height: 45px;
    width: 3%;
    border-radius: 56px;
    margin-left: 5%;
    margin-top: 9%;
}

a.carousel-control-next {
    background-color: #00004f;
    height: 45px;
    width: 3%;
    border-radius: 56px;
    margin-right: 6.5%;
    margin-top: 9%;
}

.tin-bai-viet-2 {
    display: flex;
}

.bai-viet-so {
    display: flex;
}

.tin-tieu-bieu h3 {
    text-align: center;
    font-family: roboto;
    color: #000064;
    font-weight: 600;
}

.tin-tieu-bieu svg {
    margin-left: 47%;
    width: 6%;
    margin-bottom: 2%;
}

.so-bai {
    font-size: 27px;
    color: #000972;
}

.bai-viet-so a {
    width: 84%;
    color: black;
}

.bai-viet-so a:hover {
    color: #070078;
    text-decoration: none;
}

/*Footer*/
.footer-2.logo-cong-ty img {
    width: 40%;
    display: block;
    border-radius: 101px;
}

.footer {
    background-color: #000038;
    margin-top: 3%;
}

.footer-1 {display: flex;padding-bottom: 1%;padding-top: 1%;margin-left: 13%;}

.footer-2.logo-cong-ty {
    text-align: -webkit-center;
    width: 30%;
    order: 1;
    margin-left: -9%;
}

span.name-cong-ty {
    display: block;
    color: white;
}

span.dia-chi-footer {
    display: block;
    color: white;
}

span.so-dien-thoai {
    display: block;
    color: white;
}

span.lien-ket {
    color: white;
}

.footer-2.huong-dan-1 {
    width: 30%;
    margin-top: 2%;
    order: 2;
    margin-left: 15%;
}

span.tieu-de-footer {
    display: block;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid;
    width: 46%;
}

span.huong-dan {
    display: block;
    /* color: white; */
    line-height: 3;
}

.footer-3 {display: block;margin-top: 4%;}

span.lien-he.footer-3 {
    display: block;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid;
    width: 52%;
}

.lien-he-footer {
    width: 35%;
    order: 3;
}

input.input-footer.footer-3 {
    width: 52%;
}

textarea.noi-dung-footer.footer-3 {
    width: 52%;
}

button.btn.btn-success.send-footer.footer-3 {
    background: white;
    color: #000064;
    border-color: white;
}

button.btn.btn-success.send-footer.footer-3:hover {
    background: #000064;
    color: #f8f9fa;
    border-color: #000064;
}

span.huong-dan a {
    color: white;
}

span.huong-dan a:hover {
    text-decoration: none;
}

/*Them Linh tinh*/
.Xem-them-nhabandat {
    margin-top: 2%;
    text-align: center;
}

.Xem-them-nhabandat button {
    font-size: 20px;
    font-weight: 700;
    background-color: #000064;
}

.xem-them-nhathuedat.button {
    font-size: 20px;
    font-weight: 700;
}

.xem-them-nhathuedat button {
    font-size: 20px;
    font-weight: 700;
    background-color: #000064;
}

.xem-them-nhathuedat {
    text-align: center;
}
